.carousel-item {
    max-height: 600px;
}
.card{
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 15px;
    transition: .9s all;
}
.footer{
    padding-top: 30px;
    padding-bottom: 30px;
}
.main-contacts{
    margin-top: 100px;
}
.main-aboutus{
    margin-top: 100px
}
.card:hover{
    box-shadow: 10px 10px 30px lightgray !important; 
}
.text{
    text-align: center;
    margin-top: 30px;
}
.text2{
    text-align: center;
    margin-top: 30px;
}

.btn-primary {
    background: rgb(247, 134, 153);
    border: none;
    color: white !important;
}

.btn-primary:hover {
    background: rgb(192, 107, 121);
}
.btn-primary:active {
    background: rgb(184, 88, 104) !important;
}
.item-window {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: rgba(0,0,0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.item-content{
    width: 60%;
    min-width: 500px;
    max-height: 700px;
    background: rgb(250, 236, 250);
    padding: 15px;
    border-radius: 10px;
    position: relative;
}
.item-close{
    width: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.iteem-close:hover {
    opacity: 0.7;
}
.item-info{
    display: flex;
    justify-content: space-between;
}
.item-img{
    height: 360px;
    margin-left: 20px;
}
.item-header{
    text-align: center;
}
.Menu-right img {
    height: 22px;
    vertical-align: middle;
    display: none;
}

@media only screen and (max-device-width: 480px) {
    .item-content {
            min-width: 1px;
            width: 100%;
            overflow: scroll;
            max-height: 600px;
    }

    .item-close {

    }

    .item-info {
        flex-direction: column;
    }
}